/* 
   Murfreesboro Regional Soccer League style sheet 
   Filename: styles.css

   Author:   Bradley Schreer
   Date:     11/03/2021
   HTML5 and CSS3 Illustrated Unit E, Independent Challenge 2
 */

/* reset styles */
article, aside, body, div, footer, header, h1, h2, p {
   border: 0;
   padding: 0;
   margin: 0;
   font-size: 14px;
}

/* body and page container */
body {
   background-color: ivory;
}
.container {
   max-width: 640px;
   margin: 0 auto;
   border-left: 2px solid black;
   border-right: 2px solid black;
   position: relative;
   background-color: white;
   font-family: Arial, Helvetica, Sans-serif;
}
p {
	font-size: 1.2em;
}

/* header section */
header {
   padding: 0.5em;
   text-align: center;
   background-color: rgb(140, 198, 63);
}
h1 {
	font-size: 2em;
	line-height: 1.4em;
	font-family: Georgia, Times New Roman, Times, Sans-serif;
	text-shadow: 0 0 10px ivory;
}
header p {
	font-style: italic;
}

/* main content */
article {
   padding: 3%;
   width: 55%;
   position: absolute;
   left: 0;
}
article p {
   margin-bottom: 1em;
}
.firstparagraph:first-line {
	font-weight: bold;
}

/* sidebar */
aside {
   padding: 2%;
   width: 35%;
   position: relative;
   left: 61%;
   background-color: #c8f098;
}
aside h2 {
   margin: 0 0 0.4em;
   font-family: Georgia, Times New Roman, Times, Serif;
   font-size: 1.6em;
}
aside p {
   margin: 0 0 1em 1em;
}
aside p.accent {
   margin: 0;
   font-weight: bold;
}

/* footer section */
footer {
   padding: 0.5em;
   clear: both;
   color: white;
   background-color: black;
   text-align: right;
}
footer p.accent {
	font-weight: bold;
}
	/* print styles */
	@media print {
		aside, body, footer, header, .container {
			color: #000;
			background-color: #fff;
			border: 0;
		}
		
		body {
			max-width: 100%;
		}
		
		header {
			border-bottom: 2px solid black;
		}
		
		aside {
			border-left: 2px solid black;
		}
		
		footer {
			border-top: 2px solid black; 
		}
		
	@page {
		margin: 1in;
	}